@model IEnumerable<Book.Models.report>

@{
    ViewData["Title"] = "customerreport";
}

<h1>Raport o klientach</h1>
<body style="background-color: lightgreen;">

</body>
<p>
    <a asp-action="Create">Utworż nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
             <a asp-action="customerOrders" asp-route-id="@item.Id">Detale</a>

            </td>
        </tr>
}
    </tbody>
</table>
